//#logo-holder {
//  width: 100px;
//  height: 100%;
//  //background-color: red;
//  //background: url('../../assets/resource/logo.png');
//}

.small-box {
  border-radius: 5px;
  background-color: #48c78e;
  color: white;
  font-weight: 600;

  &__value {
    font-size: 25px;
    font-weight: 700;
  }
}

.big-box {
  border-radius: 5px;
  background-color: #48c78e;
  color: white;
  font-weight: 600;

  &__head {
    font-size: 18px;
    font-weight: 700;
  }
}

.small-box {
  &__head {
    font-size: 18px;
    font-weight: 700;
  }
}

.box-table {
  background-color: transparent;
  color: white;

  th {
    color: white !important;
    text-align: center !important;
    border-bottom: 1px solid black !important;
  }

  td {
    //border-bottom: 1px solid black !important;

    &:not(.last) {
      border-bottom: 1px solid black !important;
    }
  }
}

.category-holder {

}
